<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <form action="/create-list" method="post">
      <input type="text" name="data" placeholder="List item" />
      <button type="submit">Create List</button>
    </form>

    <h2>List:</h2>
    <ul>
      <% tempStorage.forEach(list => { %>
      <li>
        <form action="/delete-list" method="post">
          <a href="/list/<%= list.name %>" style="text-decoration: none"
            ><%= list.name %></a
          >
          <input type="hidden" name="id" value="<%= list.id %>" />
          <button type="submit">Delete</button>
        </form>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
