<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/" style="text-decoration: none">Home</a>
    <form action="/list/<%= listId %>/create-todo" method="post">
      <input type="text" name="data" placeholder="Todo item" />
      <button type="submit">Create ToDo</button>
    </form>

    <h2>ToDo List:</h2>
    <ul>
      <% tempStorage.forEach(todo => { %>
      <li>
        <form action="/edit-todo" method="post">
          <input type="hidden" name="id" value="<%= todo.id %>" />
          <input type="text" name="item" value="<%= todo.item %>" />
          <button type="submit">Edit</button>
        </form>
        <form action="/list/<%= listId %>/delete-todo" method="post">
          <input type="hidden" name="id" value="<%= todo.id %>" />
          <button type="submit">Delete</button>
        </form>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
